extends layout

block content
  .w3-card-4
  h1= title

  table.w3-table-all
    tr
      th idcontrato
      th objectoContrato
      th dataCelebracaoContrato
      th precoContratual
      th NIPC_entidade_comunicante
      th entidade_comunicante
    each contrato in contratos
      tr
        td
          a(href=`/contratos/${contrato._id}`)= contrato._id 
        td= contrato.objectoContrato
        td= contrato.dataCelebracaoContrato
        td= contrato.precoContratual
        td
         a(href=`/contratos?entidade=${contrato.NIPC_entidade_comunicante}`)=contrato.NIPC_entidade_comunicante
        td= contrato.entidade_comunicante

